body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-width: 500px;
  margin: 0 auto;
  padding: 1em;
}

output {
  font-weight: 600;
  text-align: center;
}
